@page "/register"
@using blazor.Auth
@using blazor.Model
@attribute [AllowAnonymous]
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<EditForm Model="_registerModel">
    <div class="vh-100 d-flex justify-content-center align-items-center bg-light">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="card-body p-5">
                        <div class="mb-3 mt-md-3">

                            <h2 class="fw-bold mb-3 text-center">Register Test Certification</h2>

                            <div class="mb-3">
                                <label for="fullNombre">Nombre Completo</label>
                                <InputText id="fullNombre" @bind-Value="_registerModel.FullName" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label for="email">Email</label>
                                <InputText id="email" @bind-Value="_registerModel.Email" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label for="password">Password</label>
                                <InputText id="password" type="password" @bind-Value="_registerModel.Password" class="form-control"/>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="role" class="form-label">Role</label>
                                <InputSelect @bind-Value="@_registerModel.Role" class="form-select" id="role">
                                    @if (Roles.GetRoles.Count > 0)
                                    {
                                        foreach (var role in Roles.GetRoles)
                                        {
                                            <option value="@role.Name">@role.Name</option>
                                        }
                                    }
                                </InputSelect>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-outline-dark" type="button"
                                        @onclick="HandleRegister">
                                    Registrar
                                </button>
                            </div>

                        </div>
                        <div>
                            <p class="mb-0 text-center">
                                Ya tienes una cuenta?
                                <button class="btn btn-link"
                                        @onclick="LoginUser">
                                    Inicia Sesion
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {

    private readonly RegisterModel _registerModel = new();

    async Task HandleRegister()
    {
        var result = await AuthService.Register(_registerModel);

        if (!string.IsNullOrEmpty(result))
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            Console.WriteLine("Error en el registro de usuario");
        }
    }

    private void LoginUser()
    {
        NavigationManager.NavigateTo("/login");
    }


}